.idea
src/backend/app/cache/
src/backend/cache/
src/backend/public/uploads/files/
src/portal/app/cache/
src/portal/cache/
src/weixin/app/cache/
src/weixin/cache/
src/webapi/app/cache/
src/webapi/cache/
*/config.php
.DS_Store
